body {
    text-align: center;
}

div {
    background-color: aliceblue;
    font-size: 30px;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
}

input[type=text] {
    width: 300px;
    text-align: center;    
}

div.x0 {
    background-color: rgb(227, 179, 179);
}
div.x1 {
    background-color: rgb(255, 255, 255);
}